/* ToolBar */
#open-button {
    -fx-background-image: url("../../../../resources/assets/open.png");
}

#undo-button {
    -fx-background-image: url("../../../../resources/assets/undo.png");
}

#redo-button {
    -fx-background-image: url("../../../../resources/assets/redo.png");
}

#line-button {
    -fx-background-image: url("../../../../resources/assets/line.png");
}

#rectangle-button {
    -fx-background-image: url("../../../../resources/assets/rectangle.png");
}

#open-button,
#undo-button,
#redo-button,
#line-button,
#rectangle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 70.0% 70.0%;
    -fx-background-color: transparent;
    -fx-opacity: 60.0%;
}

/* After hovering */
#open-button:hover,
#undo-button:hover,
#redo-button:hover,
#line-button:hover,
#rectangle-button:hover {
    -fx-opacity: 100.0%;
}